@font-face {
    font-family: khmer;
    src: url(./NotoSansKhmer-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: roboto;
    src: url(./Roboto-VariableFont_wdth\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.nav { 
    padding: 15px 35px 0px 0px;
    display: flex;
    justify-content: right;
    gap: 5px;
    font-family: khmer;
}

.nav>a {
    color: aliceblue;
    background-color: #1F1F21;
    text-decoration: none;
}

.nav>h4 {
    color: aliceblue; 
    background-color: #1F1F21;
    display: flex;
    align-items: center;
    line-height: 2;
    padding: 5px 14px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 400;
}

.info>h1 {
    color: #1E1C23;
    padding-left: 40px;
    font-family: roboto;
    font-size: 120px;
    font-weight: 600;
    line-height: 110px;
}

.other {
    color: #2A2B28;
    font-family: roboto;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    padding: 20px 35px 24px 40px;
}

.img1 img {
    width: 100%;
}

#center {
    font-family: roboto;
    width: 100%;
    height: 370px;
    padding: 40px;
    display: flex;
    position: relative;
}

#center::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 40px;
    height: 2px;
    background-color: #979491;
}

.description {
    width: 70%;
}

.description>h2 {
    font-size: 60px;
    line-height: 1.1;
}

.aboutme {
    width: 30%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 2px solid #979491;
}

.text{
    color: #323330;
    font-size: 20px;
    font-weight: 900;
}

.social-icon{
    display: flex;
    gap: 8px;
}

.social-icon>i{
    background-color: white;
    padding: 7px;
    border-radius: 50px;
    filter: invert(100%);
}

#center2{
    font-family: roboto;
    width: 100%;
    height: 380px;
    padding: 40px;
    display: flex;
    position: relative;
}

#center2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 40px;
    height: 2px;
    background-color: #979491;
}

.left{
    width: 25%;
    height: 100%;
    border-right: 2px solid #979491;
}

.left>h3 {
    color: #222322;
}

.right{
    width: 75%;
    height: 100%;
    padding: 0px 30px 0px 30px;
    display: flex;
}

.right h1{
    color: #222322;
}
.right h3{
    font-size: 17px;
    font-weight: 500;
    color: #9B9994;
}

.right-left{
    width: 50%;
}

.right-right{
    width: 50%;
}

.Lpart1 {
    width: 100%;
    height: 50%;
    padding: 0px 50px 20px 0px;
    border-bottom: 2px solid #979491;
    box-sizing: border-box;
}
.Lpart2{
    width: 100%;
    height: 50%;
    padding: 20px 50px 20px 0px;
}
.Rpart1{
    width: 100%;
    height: 50%;
    padding: 0px 20px 20px 30px;
    border-bottom: 2px solid #979491;
}
.Rpart2{
    width: 100%;
    height: 50%;
    padding: 20px 20px 20px 30px;
}

.Lpart1>h1, .Lpart2>h1, .Rpart1>h1, .Rpart2>h1{
    padding-bottom: 20px;
}

.Lpart1, .Lpart2 {
    position: relative;
}

.Lpart1::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    width: 2px;
    height: calc(100% - 20px);
    background-color: #979491;
}

.Lpart2::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    width: 2px;
    height: calc(100% - 20px);
    background-color: #979491;
}

marquee {
    font-family: roboto;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
}
