* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    height: 150px;
    width: 100%;
    margin-top: 18px;
    padding: 40px 40px 150px 40px;
    font-size: 17px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav1 {
    white-space: nowrap;
    display: flex;
    justify-content: left;
    font-weight: 500;
}

.name {
    padding-right: 70px;
    
}

.nav2 {
    white-space: nowrap;
    display: flex;
    justify-content: right;
    gap: 50px;
}

.store{
    position: relative;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -10px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.center{
    height: 500px;
    width: 100%;
    padding: 0px 10px 15px 40px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.center>h1{
    font-size: 120px;
    font-weight: 400;
    letter-spacing: -5.5px;
    white-space: nowrap;
    line-height: 130px;
}

.bottom{
    width: 100%;
    padding: 0px 215px 70px 215px;
}

.card{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.grid1, .grid2{
    margin-bottom: 30px;
}

.grid1{
    display: flex;
    justify-content: left;
}

.grid2{
    display: flex;
    justify-content: right;
}

.info{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#arrowbtn{
    width:fit-content;
    border: 1.5px solid black;
    border-radius: 30px;
    padding: 20px 30px;
}

#arrowbtn:hover{
    scale: 0.8;
    color: white;
    background-color: black;
}
